* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.outer-div {
    text-align: center;
    height: 800px;
    width: 1000px;
    /* padding-top: auto; */
    padding-left: 300px;
    /* background-color: grey; */
}

.btn {
    font-size: 30px;
    /* float: left; */
    text-align: center;
}

.container {
    height: 50px;
    width: 900px;
    background-color: cadetblue;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}

.header {
    height: 50px;
    width: 450px;
    float: left;
}

#home {
    float: left;
    /* text-align: center;  */

}

button {
    font-weight: normal;
    width: 450px;
}

a {
    height: 40px;
    width: 450px;
    /* float: left; */
    text-align: center;
    margin-top: 12px;
    text-decoration: none;
    border-radius: 5px;
    /* background: transparent; */
    /* background-color: aqua; */
    color: black;
    font-size: 20px;


}